{{set . "title" "NECSTPizza - Add pizza"}}

{{ append . "moreScripts" "js/add_pizza_select_init.js"}}

{{template "header.html" .}}

<div class="container">
	<div class="row">
		{{.form.Render}}
	</div>
</div>

{{template "footer.html" .}}