{{set . "title" "NECSTPizza - Edit pizza"}}
{{ append . "moreScripts" "js/add_pizza_select_init.js"}}

{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			{{.form.Render}}
		</div>
	</div>
</div>

{{template "footer.html" .}}