{{set . "title" "NECSTPizza - Menu"}}
{{set . "background" "/public/img/pizza_blurred.jpg"}}
{{template "header.html" .}}

<div class="container main-content">
	<div class="row">
		{{ $u := .user}}
		{{ range .pizzas}}
		<div class="col-md-6 col-xs-12">
				<dl {{ if $u.Admin}}onClick='location.href={{ url "Elements.EditPizzaView" .Id }}'{{end}}>
					<span class="badge">{{ euro .StandardPrice }}</span>
					<dt>{{.Name}}</dt>
					<dd>{{ if .Base}}({{.Base.Name}}) + {{end}}{{ ingredients . }}</dd>
				</dl>
				<hr>
		</div>
		{{end}}
	</div>
</div>

{{template "footer.html" .}}