{{set . "title" "NECSTPizza - View ingredients"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		{{ range .ingrs}}
		<div class="col-md-6 col-xs-12">
			<dl onClick='location.href={{ url "Elements.EditIngredientView" .IngredientId }}'>
				<span class="badge">+{{ euro .Price }}</span>
				<dt>{{.Name}}</dt>
			</dl>
			<hr>
		</div>
		{{end}}
	</div>
</div>

{{template "footer.html" .}}