.media .badge {
	float: right;
	margin-top: 5px;
}

form.login-form {
	padding: 5px;
	border: solid 0px;
	border-radius: 5px;
	background-color: rgba(78,93,108, 0.5);
}

.main-content {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border: solid 0px;
	border-radius: 5px;
	background-color: rgba(78,93,108, 0.5);
}

address {
	width: 100% !important;
}

address:hover {
	background-color: rgba(255,255,255,0.2);
}

address.inactive {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

dl {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

dl .badge {
	float: right;
	margin-top: 1px;
}

dl:hover {
	background-color: rgba(255,255,255,0.2);
}

hr {
	margin:0px;
	margin-bottom:2px;
}

form {
	margin-bottom: 10px;
}

fieldset.left {
	float: left;
	width: 50%;
	padding-right: 5px;
	margin-right: 0;
}

fieldset.right {
	float: right;
	width: 50%;
	padding-left: 5px;
	margin-left: 0px;
	border-left: solid 1px;
}

.force-left {
	clear:both;
	float:left;
}

.img-error {
	border: solid 0px;
	border-radius: 5px;
	width: 70%;
}

tr.ignored {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.ingredient-addition {
	background: rgba(179,255,168,1.0) !important;
}

.ingredient-removal {
	background: rgba(255,65,61,1.0) !important;
}
