{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="span6">
      <ul>
        {{ range .names }}
        <li> {{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>
</div>

{{template "footer.html" .}}
