{{set . "title" "NECSTPizza - Edit User"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			{{.basic_form.Render}}
			<hr>
		</div>
		<div class="col-md-6 col-xs-12">
			{{.psw_form.Render}}
			<hr>
		</div>
	</div>
</div>

{{template "footer.html" .}}