{{set . "title" "NECSTPizza - User List"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h5 style="text-align:center;">Admins</h5>
			{{ range .users }}
			{{ if .Admin }}
			<address onClick='location.href={{url "UserController.EditUserView" .Username}} '>
				  <strong>{{.String}}</strong><br>
				  <a href="mailto:{{.Email}}">{{.Email}}</a>
			</address>
			{{end}}
			{{ end }}
		</div>
		<div class="col-md-6 col-xs-12">
			<h5 style="text-align:center;">Normal users</h5>
			{{ range .users }}
			{{ if not .Admin }}
			<address onClick='location.href={{url "UserController.EditUserView" .Username}} '>
			  <strong>{{.String}}</strong><br>
			  <a href="mailto:{{.Email}}">{{.Email}}</a>
			</address>
			{{end}}
			{{ end }}
		</div>
	</div>
</div>

{{template "footer.html" .}}