{{set . "title" "Edit event"}}
{{set . "background" "/public/img/pizza_blurred.jpg"}}
{{ append . "moreScripts" "js/fullcalendar.js"}}
{{ append . "moreScripts" "js/calendar_init.js"}}

{{ append . "moreStyles" "css/fullcalendar.css"}}
{{template "header.html" .}}

<div class="container main-content">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div id="calendar"></div>
		</div>
	</div>
</div>

{{template "footer.html" .}}