{{set . "title" "New event"}}
{{ append . "moreScripts" "js/jquery.datetimepicker.js"}}
{{ append . "moreScripts" "js/datepicker_init.js"}}

{{ append . "moreStyles" "css/jquery.datetimepicker.css"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			{{.form.Render}}
		</div>
	</div>
</div>

{{template "footer.html" .}}