{{set . "title" "Event List"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		{{ $u := .user}}
		{{ range (slice .events 3)}}
		<div class="col-md-4 col-xs-12">
			{{ range . }}
				<address onClick='location.href={{ url "Events.EditEventView" .EventId }}' {{if not .Active}}class="inactive"{{end}}>
					{{ if .RecurrenceInt }}<span class="badge">+{{days .Recurrence}}d</span>{{end}}
					<strong>{{.Name}} {{if .SpecialPrice}}(*){{end}}</strong><br>
					<abbr title="Notification">N:</abbr> {{.TimeStampString}}<br>
					<abbr title="Due on">D:</abbr> {{.NotificationTimeString}}<br>
					<abbr title="Manager">M:</abbr> {{if .ManagerId}}{{.ManagerId}}{{else}}--inactive--{{end}}<br>
				</address>
				<hr>
			{{end}}
		</div>
		{{end}}
	</div>
</div>

{{template "footer.html" .}}