{{set . "title" "NECSTPizza - Participate"}}
{{set . "background" "/public/img/pizza_blurred.jpg"}}

{{ append . "moreScripts" "js/bootstrap-select.min.js"}}
{{ append . "moreScripts" "js/select_init.js"}}

{{ append . "moreStyles" "css/bootstrap-select.css"}}

{{template "header.html" .}}

<div class="container main-content">
	<div class="row">
		<div class="page-header">
			<h1>{{.event.Name}} <small>({{niceDate .event.Timestamp}})</small></h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Description</div>
			<div class="panel-body">
				{{.event.Description}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Details</div>
			<dl class="dl-horizontal">
				<dt>Be there on:</dt>
				<dd>{{niceDate .event.Timestamp}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Order before:</dt>
				<dd>{{niceDate .event.NotificationTime}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Pay to:</dt>
				<dd>{{if .event.ManagerId}}{{.event.ManagerId}}{{else}}--TBD--{{end}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Special price:</dt>
				<dd>{{if .event.SpecialPrice}}{{euro 5}} (for "standard" pizzas) or {{euro 6.50}} (for "elaborated" pizzas){{else}}No{{end}}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Your current order:</dt>
				<dd>{{euro .total}}</dd>
			</dl>
		</div>
		{{ if userEnabled .user .event.ManagerId }}
		{{ $ev := .event }}
		<div class="panel panel-primary">
			<div class="panel-heading">Current orders: {{.numElems}}</div>
			<div class="panel-body">
				{{ if .orders}}
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<td class="text-left"><strong>Username</strong></td>
							<td class="text-left"><strong>Pizza</strong></td>
							<td class="text-left"><strong>Drink</strong></td>
							<td class="text-center"><strong>Qty</strong></td>
							<td class="text-center"><strong>Additions</strong></td>
							<td class="text-center"><strong>Removals</strong></td>
							<td class="text-center"><strong>Price</strong></td>
							<td class="text-center"><strong>Ignore</strong></td>
							<td class="text-center"><strong>Paid</strong></td>
						</tr>
					</thead>
					<tbody>
					{{range .orders}}
					<tr {{if .Ignore}}class="ignored"{{end}}>
						<td>{{.User.Username}}</td>
						<td>{{.Pizza.Name}}</td>
						<td>{{.Drink.Name}}</td>
						<td class="text-center">{{.Qty}}</td>
						<td class="text-center">{{if .Additions}}<abbr title="{{addList .}}">+{{len .Additions}}</abbr>{{else}}No{{end}}</td>
						<td class="text-center">{{if .Removals}}<abbr title="{{remList .}}">+{{len .Removals}}</abbr>{{else}}No{{end}}</td>
						<td class="text-center">{{euro (.Price $ev.SpecialPrice)}}</td>
						<td class="text-center">
							{{if .Ignore}}
							<a href='{{url "Orders.RestoreOrder" .OrderId}}'>Do NOT ignore this</a>
							{{else}}
							<a href='{{url "Orders.IgnoreOrder" .OrderId}}'>Ignore this</a>
							{{end}}
						</td>
						<td class="text-center">
							{{if .Paid}}
							<a href='{{url "Orders.UnpayOrder" .OrderId}}'><i class="fa fa-check-square-o"></i></a>
							{{else}}
							<a href='{{url "Orders.PayOrder" .OrderId}}'><i class="fa fa-square-o"></i></a>
							{{end}}
						</td>
					</tr>

					{{end}}
				</tbody>
				</table>
				{{ else }}
				No orders yet.
				{{end}}
			</div>
		</div>
		{{end}}
		<div class="panel panel-primary">
			<div class="panel-heading">Your order</div>
			<div class="panel-body">
				{{range .oldForms}}
				{{.Render}}
				{{end}}
				{{if .event.Open}}
				{{.form.Render}}
				{{else}}
				Event is closed, orders cannot be placed
				{{end}}

			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}