{{if eq .RunMode "dev"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Not found</title>
	</head>
	<body>
{{template "errors/404-dev.html" .}}
	</body>
</html>
{{else}}
{{set . "title" "NECSTPizza - Not found!"}}
{{template "header.html" .}}

<div class="container text-center">
	<img src="/public/img/error404.jpg" class="img-error"></img>
</div>

{{template "footer.html" .}}
{{end}}