{{if eq .RunMode "dev"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Application error</title>
	</head>
	<body>
		{{template "errors/500-dev.html" .}}
	</body>
</html>
{{else}}

{{set . "title" "NECSTPizza - Internal Server Error"}}
{{template "header.html" .}}

<div class="container text-center">
	<img src="/public/img/error500.jpg" class="img-error"></img>
</div>

{{template "footer.html" .}}
{{end}}
