{{set . "title" "NECSTPizza - Home"}}
{{set . "background" "/public/img/pizza_blurred.jpg"}}
{{template "header.html" .}}

{{ if not .user }}
<div class ="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      {{ .form.Render }}
    </div>
  </div>
</div>
{{end}}

{{template "footer.html" .}}
