{{if .flash.success}}
<div class="alert alert-success alert-dismissable text-center">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Success!</strong> {{.flash.success}}
</div>
{{end}}

{{if .flash.error}}
<div class="alert alert-danger alert-dismissable text-center">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{if .flash.error}}
		<strong>Error! </strong>{{.flash.error}}
	{{end}}
</div>
{{end}}
