<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body background="{{.background}}">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NECSTPizza</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{if .user}}
              <li><a href='{{ url "Elements.ListPizza" }}'><i class="fa fa-th-list fa-fw"></i> List</a></li>
              <li><a href='{{ url "Events.CalendarView" }}'><i class="fa fa-calendar fa-fw"></i> Calendar</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list fa-fw"></i> Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{ range .events }}
                  {{if .InTime}}
                  <li><a href='{{url "Orders.Participate" .EventId}}'><i class="fa fa-hand-o-right fa-fw"></i> {{.Name}} ({{if .Open}}{{.Eta}}{{else}}closed{{end}})</a></li>
                  {{end}}
                  {{end}}
                </ul>
              </li>
              {{ if .user.Admin }}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users fa-fw"></i> Users <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{ url "UserController.ListUsers" }}'><i class="fa fa-eye fa-fw"></i> View</a></li>
                    <li><a href='{{ url "UserController.CreateUserView" }}'><i class="fa fa-plus fa-fw"></i> Add</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th-list fa-fw"></i> Admin Events <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{url "Events.ListEvents"}}'><i class="fa fa-eye fa-fw"></i> View</a></li>
                    <li><a href='{{url "Events.ListOldEvents"}}'><i class="fa fa-eye fa-fw"></i> History</a></li>
                    <li><a href='{{url "Events.ListRecurrentEvents"}}'><i class="fa fa-eye fa-fw"></i> Recurrent</a></li>
                    <li class="divider"></li>
                    <li><a href='{{url "Events.CreateEventView"}}'><i class="fa fa-plus fa-fw"></i> Add</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flask fa-fw"></i> Elements <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{url "Elements.ListIngredients"}}'><i class="fa fa-eye fa-fw"></i> Ingredient:: view</a></li>
                    <li><a href='{{url "Elements.CreateIngredientView"}}'><i class="fa fa-plus fa-fw"></i> Ingredient:: add</a></li>
                    <li class="divider"></li>
                    <li><a href='{{ url "Elements.AddPizzaView" }}'><i class="fa fa-plus fa-fw"></i> Pizza:: add</a></li>
                  </ul>
                </li>
              {{end}}
            {{end}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{ if .user }}
              <li><a href='{{ url "UserController.EditUserView" .user.Username }}'><i class="fa fa-user fa-fw"></i> {{.user}}</a></li>
              <li><a href='{{url "App.Logout"}}'><i class="fa fa-power-off fa-fw"></i> Logout</a></li>
            {{end}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{template "flash.html" .}}
        </div>
      </div>
    </div>